<h1 class="chrome_dark" data-list="{{id}}"><a href="#list_id_{{id}}">{{title}}</a></h1>
<div id="list_id_{{id}}" class="chrome_list chrome_dark cat_list">
<ul>{{#categories}}
	<li class="root"><div class="header chrome_dark">{{name}}</div>
		<ul>{{#children}}
			<li id="cat_poi_{{id}}" class="entry pois chrome_light" data-listname="{{listName}}" data-catid="{{id}}" data-tags="{{tags}}">{{name}}<div class="count" data-content="{{count}}">{{count}}</div></li>
		{{/children}}</ul>
	</li>
{{/categories}}</ul>
</div>
