<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Boussole-commit-version-long" content="<?php echo $gitCommit['long']; ?>">
	<meta http-equiv="Boussole-commit-version-short" content="<?php echo $gitCommit['short']; ?>">
	<meta http-equiv="Boussole-commit-version-subject" content="<?php echo $gitCommit['subject']; ?>">
	<meta http-equiv="Boussole-commit-version-date" content="<?php echo $gitCommit['date']; ?>">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="favicon.ico">
	<title>Boussole : trouvez votre chemin</title>

	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">

	<!--link rel="stylesheet" href="css/jquery-ui/boussole.css"-->
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/jquery.pnotify.default.css">

	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="javascripts/libs/respond.min.js"></script>
	
	<%- tuio.js %>
	
</head>
<body class="notmobile<%= tuio.bodyClass %>">
<div id="container">
	<header class="chrome_dark">
        <h1 id="logo" class="ir left_align"><img src="images/logo_dark_boussole.png" width="202" height="40" alt="boussole"></h1>
        <ul class="right_align buttons">
            <li class="button_simple button_link" style="display:none;"><a href="#" class="ir" id="map_permalink" title="Lien vers cette vue / Partager / QRCode">Lien vers cette vue</a></li>
			<li class="button_dark button_textual button_categories"><a href="#" id="btn_categories">Catégories</a></li>
       </ul>
	</header>
	<article id="main" role="main" class="chrome_dark">
	    <aside class="left_align chrome_dark">
	        <div id="categories_container">
                <div id="categories" class="chrome_dark">
                </div><!-- categories -->
            </div><!-- categories_container -->
            <div id="pois" class="chrome_diagonals">
                <h2 class="chrome_dark"><span class="ui-icon ui-icon-info"></span> <span class="text">Points d'intérêt</span></h2>
                <ul>
                </ul>
            </div><!-- pois -->
        </aside>
        <div id="map_container" class="right_align">
            <div id="addresses" class="chrome_dark" style="display:none;">
            	<div>
                <form id="start">
                    <div class="address start">
                        <label for="start-add">Départ</label>
                        <input type="text" name="start-add" id="start-add" class="chrome_light address_input">
                    </div>
                </form>
				<a id="switch" class="button_dark" title="Intervertir A et B"><span class="ir">Intervertir départ et arrivée</span></a>
                <form id="end">
                    <div class="address end">
                        <label for="end-add">Arrivée</label>
                        <input type="text" name="end-add" id="end-add" class="chrome_light address_input">
                    </div>
                    <a id="address-go" class="button_dark" title="Calculer l'itinéraire de A vers B">Itinéraire</a>
               </form>
               </div>
            </div> <!-- addresses -->
            <div id="map-toolbar" class="chrome_dark">
		        <div class="map-buttonset map-buttonset-single">
			        <a href="#" class="map-button button_simple" title="Zoom avant" name="zoomin" onclick="map.zoomIn(); return false;"><span class="icon zoom-in ir">Zoom avant</span></a>
			        <a href="#" class="map-button button_simple" title="Zoom arrière" name="zoomout" onclick="if (map.getZoom()>13) { map.zoomOut(); } return false;"><span class="icon zoom-out ir">Zoom arrière</span></a>
			        <a href="#" class="map-button button_simple" title="Zoom sur Montpellier Agglomération" name="zoomtoloc" onclick="map.zoomTo(13); return false;"><span class="icon zoomtoloc ir">Zoom sur Montpellier Agglomération</span></a>
			        <a href="#" class="map-button button_simple" title="Zoom sur l'itinéraire" name="zoomtoroute" onclick="zoomToRoute(); map.zoomOut(); return false;"><span class="icon zoomtoroute ir">Zoom sur l'itinéraire</span></a>
			        <a href="#" class="map-button button_simple" title="Nettoyer la carte" name="cleanuppois" id="btn_cleanup"><span class="icon cleanpois ir">Nettoyer la carte</span></a>
			        <!--a href="#" class="map-button button_simple" title="Activer la vue isochrone" name="isochron" onclick="return false;"><span class="icon isochron ir">Vue isochrone</span></a-->
                    <div class="map-button" id="zoomSlider"></div>
		        </div>
	        </div>
            <div id="map"></div>
        </div>
        <footer class="chrome_light right_align" style="height: 45px!important">
        	<center style="font-weight:bold;font-size:2.5em;margin-top:0.5em">Le calcul d'itinéraires est momentanément désactivé.</center>
            <div id="routing"><div id="routing_loading">Chargement de l'interface en cours…</div></div>
        </footer>
	</article> <!-- main -->
	<footer class="chrome_dark">
        <div id="left_footer" class="chrome_dark left_align">
        </div>
        <div id="right_footer" class="right_align">
			<ul class="modes_bar buttons">
			    <li class="button_simple button_car button_mode" style="display:none;"><a href="#" class="ir" id="mode_car" title="Itinéraire en voiture">Itinéraire en voiture</a></li>
			    <li class="button_simple button_cycle button_mode" style="display:none;"><a href="#" class="ir" id="mode_cycle" title="Itinéraire à vélo">Itinéraire à vélo</a></li>
			    <li class="button_simple button_pedestrian button_mode" style="display:none;"><a href="#" class="ir" id="mode_pedestrian" title="Itinéraire à pieds">Itinéraire à pieds</a></li>
			    <li class="button_simple button_tc button_mode" style="display:none;"><a href="#" class="ir" id="mode_tc" title="Itinéraire en transports en commun">Itinéraire en transports en commun</a></li>
			    <!--li class="button_simple button_wheelchair button_mode" style="display:none;"><a href="#" class="ir" id="mode_wheelchair" title="Itinéraire pmr">Itinéraire pmr</a></li-->
			</ul>
            <div id="routing_time">
            </div>
            <ul class="right_align buttons">
                <li class="button_simple button_about"><a href="#" class="ir" id="about_link" title="À propos de Boussole">À propos de Boussole</a></li>
                <li class="button_simple button_comment"><a href="#" class="ir" id="feedback_link" title="Laisser un commentaire">Laisser un commentaire</a></li>
            </ul>
        </div>
	</footer>
</div> <!--! end of #container -->
<%- tuio.object %>
<div class="chrome_dark shadowed" id="permalink_div" style="display: none;">
    <label class="hideIfNolinks" for="permalink">Copiez-collez cette adresse pour transmettre cette carte :</label><div class="close"></div>
    <input class="hideIfNolinks" type="text" id="permalink" class="chrome_light" value="Création de l'adresse en cours…">
    <div class="hideIfNolinks label">Partagez cette carte : </div>
    <a href="https://twitter.com/share?url=&via=mandarine34&lang=fr&text=Itinéraire+sur+Boussole" class="twitter share-button ir">Partagez cette vue sur Tweeter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=&t=Itinéraire+sur+Boussole" class="facebook share-button ir">Partagez cette vue sur Facebook</a>
    <a href="https://m.google.com/app/plus/x/?v=compose&hideloc=1&content=Itinéraire+sur+Boussole+–+" class="gplus share-button ir">Partagez cette vue sur Google+</a>
    <div class="label" id="qrcodeLabel">Continuez sur votre tablette ou mobile : </div>
    <div id="qr_permalink" class="qrcode"></div>
    <p style="display:none;" class="showIfNoLinks">Retrouvez Boussole chez vous à l'adresse:<br><strong>http://boussole.mandarine34.fr</strong></p>
</div>
<div class="frame frame_dark shadowed" id="about" style="display: none;">
    <div class="title">À propos de Boussole</div><div class="close"></div>
    <div class="content chrome_light">
        <h1>Boussole : l'application qui facilite la vie aux usagers des transports doux !</h1>
        <div style="width:60%;text-align:left;margin-left:auto;margin-right:auto;">
            <p>Boussole est actuellement en version beta : les fonctions s'ajoutent, de jour en jour !</p>
            <p>Le principe est simple : proposer à tous un itinéraire en transports doux d'un point A vers un point B. <br>Boussole permet aussi d'explorer la ville par le biais des points d'intérêt qu'elle propose : vous pouvez ainsi facilement trouver une piscine ou une biblitothèque... et vérifier son accessibilité en modes doux.</p>
            <p>Dans cette phase de prototypage, le périmètre pris en compte par Boussole est la ville de Montpellier, mais il sera à terme étendu à l'agglomération puis à la région.</p>
            <p>Boussole utilise les données d'<a href="http://openstreetmap.org" class="nolinks" target="_blank">OpenStreetMap</a> et une partie de la base des points d'intérêt fournis par la ville de Montpellier, dans le cadre du projet <a href="http://opendata.montpelliernumerique.fr/" class="nolinks" target="_blank">Montpellier, Territoire Numérique</a>.</p>
            <p>Boussole peut également être intégré à un site ou une autre application web, comme cela sera le cas prochainement sur <a href="http://www.montpellier.fr" class="nolinks" target="_blank">le site de la Ville de Montpellier</a> ou sur les écrans du <a href="http://montpellier.territoirenumerique.org/projet-cite-des-ecrans/" class="nolinks" target="_blank">projet Cité des Écrans</a>.
        </div>
        <h2>Crédits</h2>
        <p>Boussole est <strong>un projet de <a href="http://mandarine34.fr" class="nolinks" target="_blank">Mandarine</a></strong><br><a class="nolinks" href="http://mandarine34.fr" target="_blank"><img src="./images/logo-mandarine.png" width="254" height="109" alt="Mandarine"></a></p>
        <p><strong>Réalisé par <a href="http://modulaweb.fr" class="nolinks" target="_blank">Modulaweb</a></strong><br><a href="http://modulaweb.fr" class="nolinks" target="_blank"><img src="./images/logo-modulaweb.png" width="240" height="60" alt="Modulaweb"></a></p>
        <p><strong>Dans le cadre de <a href="http://opendata.montpelliernumerique.fr" class="nolinks" target="_blank">Montpellier, Territoire Numérique</a></strong><br><a class="nolinks" href="http://opendata.montpelliernumerique.fr" target="_blank"><img src="./images/mtn.png" width="126" height="55" alt="Montpellier, Territoire Numérique"></a></p>
        <p><strong>En partenariat avec <a href="http://annoncesvertes.com" class="nolinks" target="_blank">Annonces Vertes</a></strong><br><a href="http://annoncesvertes.com" class="nolinks" target="_blank"><img src="./images/annoncesvertes.png" width="203" height="60" alt="Annonces Vertes"></a></p>
        <p style="width:60%;text-align:center;margin-left:auto;margin-right:auto;">
        	<strong>Avec le soutien de </strong><br>
        	<a class="nolinks" href="http://www.fondation-nature-homme.org" target="_blank" style="display: block; float: left; width: 200px; margin-left: 51px;"><small>Fondation Nicolas Hulot pour la Nature et l'Homme<br></small><img src="./images/fnh.jpg?2" width="168" height="144" alt="Fonsation Nicolas Hulot - Bourse"></a>
        	<a class="nolinks" href="http://www.languedoc-roussillon.developpement-durable.gouv.fr" target="_blank" style="display: block; float: left; width: 200px; margin-left: 51px;"><small><acronym title="Direction Régionale de l'Environnement, de l'Aménagement et du Logement">DREAL</acronym> Languedoc-Roussillon<br></small><img src="./images/dreal.jpg" width="101" height="130"></a>
        	<a class="nolinks" href="http://www.herault.fr" target="_blank" style="display: block; float: left; width: 200px; margin-left: 51px;"><small>CG 34<br></small><img src="./images/cg34.jpg" width="110" height="140" alt="Conseil Général de l'Hérault"></a>
        	<a class="nolinks" href="http://www.montpellier.fr" target="_blank" style="display: block; float: left; width: 200px;"><small>Ville de Montpellier<br></small><img src="./images/logo_montpellier.jpg" width="114" height="144" alt="Ville de Montpellier"></a>
        </p>
        <p class="clearfix"><strong>Projet en incubation chez </strong><a class="nolinks" href="http://www.alterincub-lr.coop" target="_blank"><strong>Alter'Incub</strong><br><img src="./images/alterincub.jpg" width="200" height="159"></a></p>
        <p class="clearfix"><small><strong>Version de Boussole : </strong>Git-rev_<?php echo $gitCommit['short'].' '.$gitCommit['date']; ?></small></p>
    </div>
</div>
<div class="frame frame_dark shadowed" id="dataSources" style="display: none;">
    <div class="title">Sources et crédits</div><div class="close"></div>
    <div class="content chrome_light">
        <h1>Les données sont issues de différentes sources :</h1>
        <p><strong>Fonds de carte : </strong><a class="nolinks" href="http://maps.cloudmade.com/">Cloudmade</a> sous licence CC-By-SA</p>
        <p><strong>Données cartographiques et réseaux de transport :</strong> <a class="nolinks" href="http://openstreetmap.org/">OpenStreetMap</a> et ses contributeurs sous <a class="nolinks" href="http://www.openstreetmap.org/copyright">licence CC-By-SA et/ou ODbL</a></p>
        <p><strong>Points d'intérêt :</strong> <a class="nolinks" href="http://opendata.montpelliernumerique.fr/Les-donnees">Montpellier Agglomération</a> sous <a class="nolinks" href="http://www.etalab.gouv.fr/pages/licence-ouverte-open-licence-5899923.html">licence «Ouverte» (ETALAB)</a></p>
        <p><strong>Géolocalisation stations autopartage, vélo en libre service et parkings d'échange :</strong> <a class="nolinks" href="http://data.montpellier-agglo.com/">Montpellier Agglomération</a> sous <a class="nolinks" href="http://data.montpellier-agglo.fr/?q=node/36">licence spécifique</a></p>
        <p></p>
    </div>
</div>
<div class="frame frame_dark shadowed" id="feedback" style="display: none;">
    <div class="title">Laisser un commentaire</div><div class="close"></div>
    <div class="content chrome_light">
        <h1>Aidez-nous à améliorer Boussole</h1>
        <form id="send_feedback" action="feedback" method="post">
            <input type="hidden" name="permalink" id="feedback_permalink" value="">
            <input type="hidden" name="isTouchDevice" id="feedback_istouchdevice" value="">
            <input type="hidden" name="userAgent" id="feedback_useragent" value="">

            <div style="width:49%;float:left;text-align:left;">
                <p>
                    Un bug ? Une information erronée ? Un commentaire ? Tous vos retours nous aiderons à améliorer Boussole !
                </p>
                <p>
                    En plus de votre commentaire, Boussole nous fait parvenir les informations suivantes :
                </p>
                <ul>
                    <li>Les identifiants de votre système d'exploitation et de votre navigateur</li>
                    <li>Votre adresse IP</li>
                    <li>Le lien vers la vue actuelle de Boussole</li>
                </ul>
                <p><small>
                    Ces informations sont collectées uniquement à des fins de débugage et ne font pas l'objet d'un traitement automatisé. <br>Nous ne vous contacterons que si nous avons besoin de plus d'informations.
                </small></p>
                <p>
                    <strong>Merci !</strong>
                </p>
            </div>
            <div style="width:49%;float:right;text-align:left;">
                <p>
                    <label for="feedback_author">Vos nom, prénom et adresse email (facultatif) : </label><input type="text" name="author" id="feedback_author" class="chrome_light" placeholder="Nom Prénom adresse@email.fr">
                </p>
                <p>
                    <label for="feedback_category">Choisissez un thème : </label>
                    <select name="category" id="feedback_category" class="chrome_light">
                        <option value="" selected disabled>Veuillez choisir</option>

                        <option class="chrome_light" value="Interface">Problème d'affichage</option>
                        <option class="chrome_light" value="POIs">Erreur dans un point d'intérêt</option>
                        <option class="chrome_light" value="Itinéraire">Mauvais itinéraire / Itinéraire inadéquat</option>
                        <option class="chrome_light" value="Durée du trajet">La durée du trajet semble mal estimée</option>
                        <option class="chrome_light" value="OpenLayers">La carte s'affiche mal, se déplace mal</option>
                        <option class="chrome_light" value="Geocoding">Une rue n'existe pas, est erronée ou au mauvais endroit</option>
                        <option class="chrome_light" value="Coquille">Coquille, faute d'orthographe</option>
                        <option class="chrome_light" value="Demande d'infos">Demande d'information / Contact</option>
                        <option class="chrome_light" value="Divers">Autre</option>
                    </select>
                </p>
                <p>
                    <label for="feedback_comment">Votre message : </label><textarea name="comment" id="feedback_comment" class="chrome__light"></textarea>
                </p>
                <p>
                    <input type="submit" id="submit_feedback" class="button_dark" value="Envoyer votre commentaire">
                    <input type="reset" id="reset_feedback" class="visuallyhidden" value="Annuler">
                </p>
            </div>
        </form>
    </div>
</div>
<div class="frame_dark shadowed" id="popup_modes" style="display: none;"></div>
</div>

<script src="//code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="//code.jquery.com/ui/1.8.23/jquery-ui.min.js"></script>
<script src="javascripts/mylibs/jquery.ui.touch-punch.min.js"></script>
<script src="OpenLayers/OpenLayers.js"></script>
<script src="api/boussole/js?mode=boussole&force_proxy_mairie_de_merde=1"></script>
<script>
	var _gaq=[['_setAccount','UA-24065049-1'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->
<div class="ir"><img src="OpenLayers/img/cloud-popup-relative.png" width="1276" height="736"></div>
</body>
</html>
